
.main-body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-preturi{
   display: flex;
   justify-content: center;
   align-items: center;
    gap: 30px;
    width: 96%;
    height: 80%;
    z-index: 990;
    position: relative;
    color: white;
}

.ambientale-dedicate{
   width: 50%;
    height: 100%;
    background-image: url("images/preturi-dedicate.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.text-pret-dedicate{
    font-size: clamp(20px,3vw,30px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap:0;
    width: 98%;
    line-height: 1.2;
}

.ambientale-dedicate:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.ambientale-dedicate:hover .text{
    opacity: 0;
}

.ambientale-normale{
    position: relative;
   width: 50%;
    height: 100%;
    background-image: url("images/preturi-normale.webp");
    background-position: center 32%;
    background-size: cover;
    overflow: hidden;
}
.ambientale-normale:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.ambientale-normale:hover .text{
    opacity: 0;
}

.text{
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    color: white;
    z-index: 992;
    font-size:clamp(24px,5vw,34px);
    text-align: center;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.367);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:all 600ms ease-in-out;
    text-shadow: 0 0 20px black;
}
.stelute{
    position: relative;
   width: 50%;
    height: 100%;
    background-image: url("images/preturi-stelute.webp");
    background-size: cover;
    background-position-y: 45%;
    overflow: hidden;
}

@media(max-width:700px){
    .main-body{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .container-preturi{
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 96%;
        height: 100%;
    }
    .ambientale-dedicate{
        width: 100%;
        height:100%;
    }
    .ambientale-normale{
        width: 100%;
        height:100%;
    }
    .stelute{
        width: 100%;
        height:100%;
    }
}


.lista-pret{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition:all 500ms ease-in-out;
    filter: none;
}
.text-pret{
    font-size: clamp(20px,3vw,30px);
    line-height: 1.2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    gap: 20px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: 500;
}

.ambientale-normale .text-pret{
    font-size: clamp(17px,3vw,28px);
    font-weight: 500;
}

.stelute:hover .lista-pret{
    opacity: 1;
    filter: none;
}
.stelute:hover .text{
    opacity: 0;
}

@media(max-width:500px){

.stelute:focus .lista-pret{
    opacity: 1;
    filter: none;
}
.stelute:focus .text{
    opacity: 0;
}
.text-pret{
    gap: 5px;
}
}

.container-preturi > div{
    transition: all 500ms ease-in-out;
}

.container-preturi > div:hover:not(:first-child){
    scale: 1.07;
}

.ambientale-dedicate:hover{
    scale: 1.05;
}


