
.sub-body1 {
    position: relative;
    height: 90vh;
}

.slogan{
    color: white;
    text-align: center;
    font-size: 28px;
    opacity: 0;
    font-weight: bold;
    transform: translateY(-50%);
    animation: appear 1000ms ease-in-out forwards;
    animation-delay: 200ms;
}
.slogan strong{
    font-size: 32px; 
}
.container-sub-body1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    align-items: center;
}

.Contact2 {
    font-size:clamp(30px,5vw,40px);
    background-color: rgba(85, 0, 255, 0.525);
    border: 2px solid white;
    display:block;
    width:fit-content;
    padding: 10px;
    border-radius: 25px;
    z-index: 10;
    transition: background-color 200ms ease-in-out;
    opacity: 0;
    transform: translateY(60%);
    animation: appear 900ms ease-in-out forwards 800ms;
}


@keyframes appear{
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}


.Contact2:hover {
    background-color:rgb(85, 0, 255);
}

@media (min-width:800px) {
    .container-sub-body1{
        justify-content: center;
        align-items: start;
        gap: 25px;
    }
    .slogan{
        margin-left: 40px;
    }
    .Contact2 {
        margin-left: 40px;
    }

    .sub-body1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, transparent , black 90%);
}

}
.Contact2 a {
    color: white;
    text-decoration: none;
}

.sub-body1 img {
    height:100%;
    width: 100%;
    object-fit: cover;
    object-position: center 40%;
}


@media (max-width:799px) {
    .sub-body1{
        height: 76vh;
    }
    .sub-body1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
    .sub-body1 img {
        height:100%;
        width: 100%;
        object-fit: cover;
    }
    .Contact2 {
        z-index: 800;
        width: 50%;
        text-align: center;
        font-size: 36px;
        margin-bottom: 70px;
        background-color:rgb(85, 0, 255);
    }
}
@media (max-width:600px){
    .Contact2 {
    width: 84%;}
}



.body-proes2{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    position: relative;
    height: fit-content;
    margin-bottom: 150px;
    gap: 50px;
}
.body-proes2 h1{
    font-size: 50px;
    text-align: center;
    color: white;
    transform: translateY(80%);
    opacity: 0;
    transition: opacity 1200ms ease-in-out 300ms,transform 1200ms ease-in-out 100ms;
}
.container-avantaje{
    width: 99%;
    height: 80%;
    display: flex;
    gap: 20px;
}
.card-poza1{
    width: 100%;
    position: relative;
    font-size: 32px;
    font-weight: bold;
}

.card-poza1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-poza1:last-child img{
    object-position: center 15%;
}


.card1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 100%;
    height:100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.35);
    text-align: center;
}
.text-proes{
    font-size: clamp(20px,4vw,26px);
}

.card1 i{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(85, 0, 255);
    padding:24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:100%;
    color: rgb(255, 255, 255);
    font-size: 60px;
    z-index:20;
    border: 2px solid white;
}
.text-proes{
    z-index: 2;
}

@media (max-width:700px){
    .container-avantaje{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }
    .body-proes{
        display: none;
    }
    .card-poza1{
        height: 250px;
        font-size: 26px;
        transition: opacity 1200ms ease-in-out,transform 1200ms ease-in-out;
    }
    .card-poza1:nth-child(4){
        font-size: 24px;
    }
    .text-proes{
        padding: 10px;
        padding-right: 20px;
        font-size: 22px;
    }
    .body-proes2 h1{
        font-size: 30px;
        margin-top: 80px;
        padding: 0 10px;
        color: white;
        text-align: center;
    }
    .body-proes1{
        margin-bottom: 80px;
    }
    .card1{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:6px;
    }
    .card1 i{
        transform: none;
        position:static;
        width:40px;
        height: 40px;
        font-size: 48px;
    }

    .card-poza1:nth-child(1)::before,
    .card-poza1:nth-child(2):before,
    .card-poza1:nth-child(3):before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1;
        background-image: linear-gradient(to bottom, transparent 50%,rgb(0, 0, 0));
    }

    .card-poza1:nth-child(2):after,
    .card-poza1:nth-child(3):after,
    .card-poza1:nth-child(4):after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:1;
        background-image: linear-gradient(to top, transparent 50%,rgb(0, 0, 0));
    }
    
    .card-poza1:nth-child(1){
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1200ms ease-in-out,transform 1200ms ease-in-out;
    }
    .card-poza1:nth-child(2){
        transform: translateX(50%);
        opacity: 0;
        transition: opacity 1200ms ease-in-out,transform 1200ms ease-in-out;
    }
    .card-poza1:nth-child(3){
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1200ms ease-in-out,transform 1200ms ease-in-out;
    }
    .card-poza1:nth-child(4){
        transform: translateX(50%);
        opacity: 0;
        transition: opacity 1200ms ease-in-out,transform 1200ms ease-in-out;
    }
}


.body-video{
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}
.body-video video{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition:opacity 550ms ease-in-out;
    object-fit: cover;
}
.body-video i{
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition:opacity 600ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.text-video{
    color: white;
    z-index: 999;
    position: absolute;
    width: 100%;
    height:calc(100% + 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.container-video{
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    opacity: 0;
    transition:opacity 1500ms ease-in-out;
}
.container-video.apare{
    font-size: 30px;
    opacity: 1;

}
.container-plus{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.counter{
    transition: font-wieght 800ms ease-in-out,color 800ms ease-in-out ,font-size 800ms ease-in-out;
}
.text-counter{
    font-size: 26px;
    transition: all 800ms ease-in-out;
}
.plus{
    font-weight: bold;
    font-size: 36px;
    transition: all 800ms ease-in-out;
}

.counter.completed{
    font-weight: bold;
    font-size: 47px;
    color: white;
}
.text-counter.completed{
    font-size:40px;
}
.plus.completed{
    font-size: 68px;
}



@media(min-width:700px){
    .body-video{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body-video video{
        width: 80%;
    }
}

.servici {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-dedicate{
    margin-bottom: 20px;
    color: white;
    width: 90%;
    transform: translateY(60%);
    opacity: 0;
    transition: all 800ms ease-in-out;
}
.text-dedicate h1{
    text-align: center;
    font-size: clamp(30px,5vw,50px);
}

.text-dedicate h3{
    line-height: 1.5;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
    font-size: clamp(16px,5vw,30px);
    
}

.dedicate {
    margin-top: 10px;
    gap: 5px;
    width:100%;
    height: auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(60%);
    transition: all 800ms ease-in-out;
}

.dedicate img{
    width: 90%;
    height: 100%;
    object-fit: cover;
}

.text-normale {
    margin-top: 50px;
    color: white;
    width: 90%;
    opacity: 0;
    transform: translateY(60%);
    transition: all 800ms ease-in-out;
}


.text-normale h1{
    text-align: center;
    font-size: clamp(26px,5vw,50px);
}

.text-normale h3{
    line-height: 1.5;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
    font-size: clamp(16px,5vw,30px);
}


.normale {
    margin-top: 10px;
    gap: 5px;
    width:100%;
    height: auto;
    display: flex;
    height:auto;
    justify-content: center;
    opacity: 0;
    transform: translateY(60%);
    transition: all 800ms ease-in-out;
}


.normale img {
    width: 92%;
    height: 100%;
    object-fit: cover;
}

.text-stelute {
    margin-top: 50px;
    color: white;
    width: 90%;
    opacity: 0;
    transform: translateY(60%);
    transition: all 800ms ease-in-out;
}

.text-stelute h1{
    text-align: center;
    font-size: clamp(26px,5vw,50px);
}

.text-stelute h3{
    line-height: 1.5;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
    font-size: clamp(16px,5vw,30px);
}

.stelute {
    margin-top: 10px;
    gap: 5px;
    width:100%;
    display: flex;
    height:auto;
    justify-content: center;
    opacity: 0;
    transform: translateY(60%);
    transition: all 800ms ease-in-out;
}

.stelute img {
    width: 92%;
    height: 100%;
    object-fit: cover;
}

@media (min-width:800px) {
    .dedicate{
        height:80vh;
    }
    .normale{
        height:80vh;
    }
    .stelute{
        height:80vh;
    }
    .stelute img{
        object-position: center 25%;
    }
    .servici img{
        width: 75%;
    }
}



.body-iphone{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}
.text-aplicatie{
    color: white;
    margin-top: 60px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 1200ms ease-in-out,transform 1000ms ease-in-out;
}
.body-iphone ul{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    margin-bottom: 40px;
}
 
.iphone-screen{
    width: 180px;
    height: 420px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    position: relative;
    border-radius: 22px;
    overflow: hidden;
    border: 3px solid rgb(100, 100, 100);
}

@media (max-width:500px){
    .iphone-screen{
        transform: translateX(-50%);
        opacity: 0;
        transition: opacity 1000ms ease-in-out,transform 1000ms ease-in-out;
    }
}

.iphone-screen img{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(1.1);
    top: 0;
    left: 0;
}
.dynamic-island{
    width: 35%;
    height: 20px;
    border-radius: 25px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    top: 10px;
    left: 50%;
    translate: -50% 0;
    z-index: 2;
}

@media (min-width:700px) {
    .body-iphone{
        flex-direction: row;
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }
    .body-iphone ul{
        order: 2;
        font-size:clamp(28px,4vw,38px);
    }
    .iphone-screen{
        order: 1;
        width: 230px;
        height: 500px;
    }
    #text-aplicatie{
        color: white;
        font-size:clamp(38px,4vw,50px);
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
.main-body-scroll{
    position: relative;
    opacity: 0;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: opacity 2000ms ease-in-out;
}
.poza-scroll{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(2px) brightness(0.65);
}
@media (max-width:650px){
    .main-body-scroll{
        height:480px;
    }
}

.body-scroll {
  width: 100%;
  height:fit-content;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

.text-scroll1{
    font-size:clamp(28px,5vw,50px);
    text-align: center;
    color: white;
    padding: 0 10px;
    line-height: 1.3;
    transition: opacity 1200ms ease-in-out 300ms,transform 1200ms ease-in-out 100ms;
}

.slider{
    position: relative;
    padding:10px 0;
    width: calc(250px * 22);
    display: flex;
    gap: 20px;
    animation: SlideInf 10s linear infinite;
}
.body-scroll::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0,-50%);
    width: 12%;
    height: 200px;
   
    z-index: 2;
}
.body-scroll::after{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
    width: 12%;
    height:200px;
    z-index: 2;
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent; 
    -webkit-user-select: none; 
    user-select: none;
}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes SlideInf{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px * 11));
    }
}

@media (max-width:500px){
    .slider{
        width: calc(120px * 22);
        display: flex;
        gap: 20px;
        animation: SlideInf 12s linear infinite;
    }
    .slide{
        height: 150px;
        width: 120px;
        display: flex;
        align-items: center;
    }
    .slide img{
        width: 100%;
        height: 100%;
    }
    
    @keyframes SlideInf{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(calc(-120px * 11));
        }
    }
    .body-scroll::before{
        height:150px;
    }
    .body-scroll::after{
        height:150px;
    }
}
.help-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:clamp(12px,3vw,14px);
    color: white;
    gap: 10px;
    margin-top: 25px;
}
@media (max-width:650px){
    .help-logo{
        margin-top: 15px;
    }
}



.fundal-mare{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    backdrop-filter: blur(2px);
}

.fundal-mare img{
    max-width: 100%;
    max-height: 90%;
    z-index: 1001;
}
.fundal-mare video{
    max-width: 100%;
    max-height: 90%;
    z-index: 1001;
}

@media (max-width:550px){
    .fundal-mare img{
        max-width: 90%;
        max-height: 90%;
        border-radius: 5px;
    }
    .fundal-mare video{
        max-width: 90%;
        max-height: 90%;
        border-radius: 5px;
    }
}


#closeButon{
    z-index: 1002;
    font-size: 44px;
    position: absolute;
    top:28px;
    right: 20px;
    cursor: pointer;
    color: white;
}

.body-reviews{
    position: relative;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
    gap: 26px;
}
.body-reviews h1{
    color: white;
    font-size: clamp(28px,5vw,50px);
    transform: translateY(80%);
    opacity: 0;
    transition: opacity 1200ms ease-in-out 300ms,transform 1200ms ease-in-out 100ms;
}
.container-reviews{
    width: 85%;
    scroll-behavior: smooth;
    display: flex;
    gap: 50px;
    overflow-x:scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    padding: 0 12px;
    opacity: 0;
    transition: opacity 1500ms ease-in-out;
}
.content-review{
    position: relative;
    min-width:28%;
    padding: 14px;
    height:460px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    scroll-snap-align: center;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    border-radius: 5px;
    background-color: white;
    color: black;
   
}
.review-video{
    position: relative;
    width: 100%;
    height: 450px;
}
.autor-review {
    display: flex;
    align-items: center;
    gap: 10px;
}
#play-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 2;
    transition: opacity 350ms ease-in-out;
}
#play-button i{
    font-size: 70px;
    display: flex;
    justify-content: center;
}
#youtube-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 450ms ease-in-out;
    pointer-events: none;
}
#youtube-link i{
    color: red;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
#youtube-link a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}
.autor-review img{
    border-radius: 50%;
    width: 60px;
    height: 60px;
}
.review-video{
    width: 100%;
    height: 100%;
}
.review-video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container-reviews::-webkit-scrollbar {
    display: none; 
}

.content-review i{
    font-size: 40px;
    width: 100%;
}
.content-review i:first-child{
    font-size: 40px;
}
.content-review i:last-child{
    font-size: 40px;
    display: flex;
    justify-content: end;
}

.autor-review{
    font-size: 32px;
    width: 100%;
    display: flex;
}

.text-rev1{
    width: 100%;
    height: 100%;
    font-size:18px;
    text-align: left;
}
.text-rev2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:27px;
    text-align: left;
}
.poza-review{
    height:250px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.poza-review img{ 
    height:100%;
    width: 100%;
    object-fit: cover;
}



@media(max-width:850px){
    .content-review{
        height:500px;
        min-width: 42%;
    }
}
@media(max-width:600px){
    .content-review
    {
        min-width: 90%;
        gap: 20px;
    }
    .poza-review{
        height:200px;
    }
}

.special-words{
    font-weight: bold;
}


.text-more-reviews{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 36px;
}
.text-more-reviews a{
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.container-img-fb{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.container-img-fb img{
    height: 70px;
    width: 70px;
}

.span2{
    justify-content: center;
    display: flex;
    gap: 10px;
    align-items: center;
}
.span2 i{
    width: fit-content;
    width: fit-content;
}


.dots-container{
    display: flex;
    justify-content: center;
    gap: 8px;
    opacity: 0;
    transition: all 800ms ease-in-out;
}
.dot{
    position: relative;
    background-color: white;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}
.dot.current{
    scale: 1.2;
}
.dot::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 60%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index:-1;
}
.buton-right i,
.buton-left i{
    color: white;
    position: absolute;
    font-size:clamp(34px,7vw,50px);
}
.buton-right i{
    top: 50%;
    right: 0%;
    transform: translate(-40%,0);
}
.buton-left i{
    top: 50%;
    left: 0%;
    transform: translate(40%,0);
}

@media (min-width:520px){
    .dots-container{
        display: none;
    }
}
@media(max-width:700px){
    .buton-right,
    .buton-left{
        display: none;
    }
}

.visible{
    transform: translateY(0)  !important;
    opacity: 1  !important;
}
.visible-pros-item{
    transform: translateX(0)  !important;
    opacity: 1  !important;
}

#link-mobil{
    display: none;
}
@media (max-width:520px){
    #link-desktop{
        display: none;
    }
    #link-mobil{
        display: flex;
    }
}
